<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Index Page</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>All Blogs</h1>
            <a href="/blogs/new" class="btn btn-primary">Add New Blog</a>
        </div>

        <div class="row">

            <% allBlogs.forEach(function(blog){ %>
                <div class="col-lg-10">
                    <h3><%= blog.title; %></h3>
                    <img src="<%= blog.image; %>" alt="">
                    <p><%- blog.body.substring(0,100); %>......</p>
                    <p><%= blog.created.toDateString(); %></p>
                    <a href="/blogs/<%= blog._id %>" class="btn btn-link">More Info</a>
                </div>
            <% }) %>
        </div>
    </div>
    
</body>
</html>