<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Show more</title>
</head>
<body>
    <div class="container">
        <h1><%= blog.title %></h1>
        <img src="<%= blog.image %>" alt="">
        <p><%- blog.body %></p>
        <p>Created on <%= blog.created %></p>
        <a href="/blogs/<%= blog._id %>/edit" class="btn btn-success">Update Blog</a>
        <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
            <button class="btn btn-warning">Delete Blog</button>
        </form>
       
    </div>
</body>
</html>